.parent{
  border: 2px solid blue;
  padding : 3%;
  margin : 3%;
  width : 85%;
  
}


.child1{
  text-align: center;
background-color: skyblue;
border : 3px solid yellow;
padding : 3%;
margin : 3%;
width : 85%;
}
.child1 img{
  border: 2px solid blue;
  text-align: center;
  width:80%;
  padding: 3px 2px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 8px 8px 8px black;
  image-orientation: right;
  border-radius: 50%;
}
.child1 a{
  text-align: center;
  text-decoration: none;
  padding-right
}
.child2{
  text-align: center;
  background-color: skyblue;
  border : 4px solid silver;
  padding : 3%;
  margin : 3%;
  width : 85%;

}
@media only screen and (min-width:320px)and(max-width:480px);
